<div class="container">
  <div class="container-carousel">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% @airplane.photos.each_with_index do |photo, index| %>
          <% active = index == 0 ? "active" : "" %>
          <div class="carousel-item <%= active %>" data-bs-interval="10000">
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill , class:"d-block" %>
            <div class="carousel-caption d-none d-md-block">
              <h2 class="light-text shadow-text">Amazing</h2>
              <h3 class="light-text shadow-text"><%= @airplane.brand_and_model %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-button">
    <%= link_to "Back", airplanes_path, class: "btn btn-gradient", id:"middle-button" %>
    <%if @can_edit_airplane %>
      <%= link_to "Edit", edit_airplane_path(@airplane.id), class: "btn btn-gradient" %>
    <% end %>
  </div>

  <div class= "specs">
    <p><b>weight:</b>  <%= @airplane.weight %> kgs </p>
  </div>

  <% if user_signed_in? %>
    <div class="container-text">
      <h1>You can now book this plane!</h1>
    </div>
    <div class="container-map-booking">
      <div class="container-map" style="width: 600px; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="container-booking">
        <%= render "bookings/form", airplane: @airplane, booking: @booking %>
      </div>
    </div>
  <% else %>
    <p>You must log in to book an airplane.</p>
  <% end %>





</div>
